<div class="contextual">
	<%= link_to "New support setting", new_support_helpdesk_setting_path, :class => "icon icon-add" %>
</div>

<h2>Support Helpdesk settings</h2>
<% if @settings.count > 0 %>
<table class="list">
	<thead>
		<tr>
			<th>Name</th>
			<th>Project</th>
			<th>Tracker</th>
			<th>Email address to route</th>
			<th>Email to send as</th>
			<th>Last email process time</th>
			<th>Last email check time</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<%- @settings.each do |s| %>
	<tr>
		<td><%= link_to s.name, edit_support_helpdesk_setting_path(s) %></td>
		<td><%= s.project.name %></td>
		<td><%= s.tracker.name %></td>
		<td><%= s.to_email_address %></td>
		<td><%= s.from_email_address %></td>
		<td><%= format_time(s.last_processed) %></td>
		<td><%= format_time(s.last_run) %></td>
		<td class="buttons">
			<%= image_tag((s.active ? 'true.png' : 'exclamation.png'),
                                    :style => "vertical-align:bottom;") %>
			<%= link_to (s.active ? "Deactivate" : "Activate"), activate_support_helpdesk_setting_path(s), :confirm => "Are you sure?", :method => :activate %>
			<%= link_to "Delete", s, :confirm => "Are you sure?", :method => :delete, :class => "icon icon-del" %>
		</td>
	</tr>
	<%- end %>
	</tbody>
</table>
<% else %>
<p class="nodata">No data to display</p>
<div style="clear:both;"></div>
<% end %>